/*body{
    margin: 0;
    padding: 0;
    font-family: century gothic;
    background: #E9DF0D; 
}*/

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111e33;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-weight: bold;
}

.box p{
    color: white;
}

.box input[type="text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type = "password"]:focus{
    width: 200px;
    border-color: #E99C0D;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #E99C0D;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #E99C0D;
}

.rojo {
    color:#F00;
  font-weight:bold;
  font-size:14px;
}
.style1 {
  color: #FFFFFF;
  font-weight: bold;
}

.style2 {
  border: 0px solid #19003A;
  border-color: #19003A;
  /*border-width: 1px 1px 1px 1px;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align:left;
  color: #333333;
}
.style3 {font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 11px;}